/*
@font-face {
    font-family: DejaVuSans;
    font-style: normal;
    font-weight: normal;
    src:url("DejaVuSans-Regular.ttf");
}
*/

* {
    font-family: serif;
    font-style: normal;
    font-size: medium;
}

body {
    /*font-family: "Palatino Linotype";
    widows: 0;
    orphans: 0;*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
}

p.cover {
    margin: 0pt;
    padding: 0pt;
    text-align: center;
}

img.cover {
    height: 100%;
    max-width: 100%;
}

a {
    color:#000000;
    text-decoration: underline
}

pre code {
    font-family: Courier, monospaced;
    font-size: .8em;
    text-indent: 1em;
    line-height: .96em; 
}


h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    text-align: left;
    page-break-after: avoid;
}

blockquote, blockquote p {
    font-style: italic;
    page-break-inside: avoid;
}

blockquote span {
    font-size: 0.8em;
    text-align: right;
    padding-top: 1em;
}

div, p {
    orphans: 2;
    widows: 2;
    /*display: inline-block;*/
}

div.figure {
    text-align: center;
    page-break-inside: avoid;
    font-size: 0.6em
}

p.caption {
    font-style: italic;
    font-size: 0.8em;
}

sup {
    font-size: 0.6em;
    line-height: 0.4em;
}

div.footnotes {
    page-break-before: always;
}

#note {
    page-break-before: always;
}

ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }

/* nella TITLE_PAGE */
h1.title  { text-align: center; }
h2.author { text-align: center; }
h3.date   { text-align: center; }


/* SYNTAX HIGHLIGHT 
span.kw
span.dt --> void
span.dv --> numeri
span.bn
span.fl
span.ch
span.st
span.co
span.ot
span.al
span.fu
span.er


table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
    margin: 0; 
    padding: 0; 
    vertical-align: baseline; 
    border: none; 
}
table.sourceCode { width: 100%; line-height: 100%; }

/* la classe associata ai numeri di riga 
td.lineNumbers { 
    text-align: right; 
    padding-right: 4px; 
    padding-left: 4px; 
    color: #aaaaaa; 
    border-right: 1px solid #aaaaaa; 
}
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }
*/




